/*header start*/
body{
	margin:0;
	padding:0;
}
header{
padding:20px 0;
}
.container {
	margin:0 auto;
	width:80%;
	overflow: hidden;
}
.logo {
	width: 17%;
	float: left;
}
.logo a{
	display: block;
}
.logo a img{
	width:100%;
}
.menu {
	margin-top: 6px;
	width: 77%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
list-style: none;
float:left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#8A8A8A;
	text-decoration: none;
	display:block;
	padding: 0 15px;
}
.menu ul li a:hover{
	color:#C62946;
}
.menu ul li:last-child a{
	padding-right: 0;
}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
.b_content{
	margin:100px 0;
	width: 50%;
}
.b_content h1{
	margin: 0 0 30px;
	font-family:sans-serif;
	font-size:57px;
	font-weight:700px;
	color: black;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.b_p{
	text-transform: capitalize;
}
.b_content p{
	margin: 0 0 15px;
	font-family:sans-serif;
	font-size:17px;
	font-weight:400px;
	color: black;
}
.b_content button{
	margin: 20px 0 0;
	width: 250px;
	height: 45px;
	background-color:#C22842;
	border: none;
	font-family:sans-serif;
	font-size:14px;
	font-weight:700px;
	color: black;
	text-transform: uppercase;
	transition: .3s;
}
.b_content button:hover{
background-color:black;
color:#C22842;
}
/*banner end*/
/*works start*/
.works{
	padding:100px 0;
}
.top{
	margin:0 auto;
	width:70%;
	text-align: center;
}
.w_h1{
	margin:45px 0 20px;
	font-family:sans-serif;
	font-size:30px;
	font-weight:700px;
	color:#1E1E1E;
	text-transform: uppercase;
}
.w_p{
    font-family:sans-serif;
	font-size:17px;
	font-weight:400px;
	color:#9D9D9D;
	line-height: 25px;
}
.bottom{
	overflow: hidden;
}
.single{
	margin:0 3%;
	width:25%;
	text-align: center;
	padding:30px 1.1% 0;
	float:left;
}
.s_img{
	margin: 0 auto;
	width:57%;
}
.s_img img{
	width:100%;
}
.single p{
	margin:25px 0;
	width:100%;
	font-family:sans-serif;
	font-size:15px;
	font-weight:400px;
	color:#1E1E1E;

}
/*works end*/
/*Video section starts*/
.video-section {
	background: #FAFAFA;
	padding: 100px 0;
	overflow: hidden;
}
.video-left {
	width: 49%;
	float: left;
	margin-top: 30px;
}
.video-left h1 {
	font-family: sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.video-left p {
	margin-bottom: 50px;
	font-family: sans-serif;
	font-size: 17px;
	color: #A8A8A8;
	line-height: 1.5;
}
.video-left button{
	padding: 12px 30px;
	background-color:#C22842;
	border: none;
	font-family:sans-serif;
	font-size:14px;
	font-weight:700px;
	color: black;
	text-transform: uppercase;
	transition: .3s;
}
.video-left button:hover {
	background: #fff;
	color: #BD233F;
	box-sizing: border-box;
}
.video-right {
	width: 49%;
	float: right;
}
/* Video-section End */
/* features-section End */
section.feature{
	/*border: 1px solid;*/
}
div.container{
   margin: 0 auto;
    width: 80%;
    display: inline-block;
    overflow: hidden;
    /*border: 1px solid red;*/
    margin-left: 90px;
}
div.feature_1{
/*border: 1px solid;*/
margin: 0 auto;
text-align: center;
}
div.feature_1 h1{
	font-family: sans-serif;
	color: #4C4C4C;
}
div.feature_1 p.feature_2{
   font-size: 17px;
    width: 60%;
    color: #9A9A9A;
    font-family: sans-serif;
    margin: 0 auto;
}
/*feature start*/
section.feature{

}
div.container{

}
div.feature_1{

}
div.feature_1 h1{

}
div.feature_1 p.feature_2{

}
/*videochat start*/
div.container{
	margin: 0 auto;
    width: 76%;
    display: inline-block;
    overflow: hidden;
   /* border: 1px solid red;*/
    margin-left: 100px;
}
div.videochat{
	margin-left: 44px;
    width: 25%;
    /*border: 1px solid;*/
    margin-top: 46px;
    float: left;
    overflow: hidden;
    padding: 10px;
}
div.image{
	width: 60px;
    border: 1px solid;
    text-align: center;
    margin: 0 auto;

}
div.videochat h1{
	font-family: sans-serif;
    font-size: 19px;
    color: #494949;
    text-align: center;

}
div.videochat p.p{
	font-size: 20px;
    font-family: sans-serif;

}
/*secure start*/
div.image img{
	width: 60px;
	height: 40px;
}
p.six{
	font-size: 20px;
    font-family: sans-serif;

}
p.six_1{
	font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
button.b_b{
	margin: 11% 40% 68px;
    width: 240px;
    height: 47px;
    background-color: #BC223E;
    border: none;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}
button.b_b:hover{
	background-color: white;
	color: #866169;
}
/* featurs-section End */